.DS_Store
__pycache__/
.ipynb_checkpoints/
venv
.venv
.vscode
.env
.idea/

# ignore files in scratch subfolder in plots and data_output folders
!data_output/scratch/*
data_output/scratch/*
!plots/scratch/*
plots/scratch/*

# Keep the .gitkeep files to preserve folder structure
!data_output/scratch/.gitkeep
!plots/scratch/.gitkeep

## ignore files for AWS deployment
scrape_data/python/*
scrape_data/chn-bus-scraper.zip
.ipynb_checkpoints/
