-r ../scrape_data/requirements.txt
boto3==1.21.21 # The version can also be removed to resolve conflict.
pandas==1.4.3
geopandas==0.11.1
s3fs==2022.7.1
s3path==0.5.2
shapely==1.8.4
jupyter==1.0.0
typer[all]==0.6.1
plotly==5.11.0
chart-studio==1.1.0
statsmodels==0.13.5
weightedstats==0.4.1
tqdm==4.64.0
python-dotenv==0.20.0
matplotlib==3.8.3
folium==0.12.1.post1
mapclassify>=2.4.2+55.g0155c6e
